<div class="h-full w-full flex flex-col justify-center items-center text-center">
    <% if @employee.avatar.attached? %>
        <%= image_tag (@employee.avatar_thumbnail), class:'rounded-full'  %>
    <% end %>
    <div class="employee-information py-12">
        <h1 class="font-serif text-2xl font-extrabold tracking-widest uppercase"><%= @employee.fullname %></h1>
        <h2 class="font-serif text-1xl font-extrabold tracking-widest"><%= @employee.team.name %></h2>
    </div>
</div>